<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You don't have any line item dates yet!
  </p>

  <%= link_to 'Add line item date', new_quote_line_item_date_path(@quote), data: {turbo_frame: dom_id(LineItemDate.new)} %>
</div>